section {
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 700px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header position */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606c5d;
  height: 100px;
  max-width: 600px;
  margin: 50px auto;
  border-radius: 30px;
}
/* body color */
body {
  background-color: #e9dfc6;
}
/* Main */
.box {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  max-width: 20rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 20px auto;
  background-color: blanchedalmond;
}

button {
  color: white;
  background-color: #daa521;
  border: 0;
  padding: 7px;
}
/* Footer */
footer {
  height: 100px;
  background-color: #606c5d;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.footer-p {
  width: 80%;
}

/* BUTTONS */
.buttons {
  margin-top: 15px;
  background-color: blanchedalmond;
  color: black;
  border: 1px dashed black;
}

/* Navbar-liste */
.myList {
  list-style-type: none;
  text-decoration: none;
  color: #fff4f4;
  font-size: 1.3rem;
}

.myList:hover {
  color: #f1c376;
}

/* font */

.major-mono-display-regular {
  font-family: "Major Mono Display", serif;
  font-weight: 400;
  font-style: normal;
}

.card:hover {
  box-shadow: #e9dfc6 0px 0px 0px 2px, #e9dfc6 0px 4px 6px -1px,
    #e9dfc6 0px 1px 0px inset;
  cursor: pointer;
}

.error {
  color: red;
}
